.footer {
    font-size: 80%;
    max-width: 100vw;
    background-color: $body;
    padding: 15px;
    text-align: center;
    // color: $body;
}

.footer-text {
    margin: 5px 15px;
    color: $main-type !important;
    display: inline-block;
}

.footer-link {
    color: $main-type !important;
}
