.project-link-container {
    max-width: 1000px;
    width: 100vw;
    margin: 15px auto;
    cursor: pointer;
    transition: all $duration ease;
    border-radius: $radius;
    min-height: 200px;
}

.perspective-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    transition: all $duration ease;
    max-width: 1000px;
    min-height: 200px;
    width: 100vw;
}

.project-link-container:hover {
    .link-excerpt {
        opacity: 1;
    }

    // .project-image-link-container {
    //     opacity: 0;
    // }

    @media only screen and (max-width: 888px) {
        .second {
            width: 0px;
        }
    }
}

.project-image-link-container {
    height: 200px;
    border-radius: $radius;
    object-fit: cover;
    margin: 0 auto;
    transition: all $duration ease;
}

// .project-link-container:hover {
//     background-color: $content;
//     box-shadow: $shadow;

//     .project-image-link-container {
//         box-shadow: none;
//     }
// }

.project-link-flex {
    transition: all $duration ease;
    width: 400px;
    margin: 0 10px;
    padding: 10px;
}

.first {
    width: 570px;
    text-align: left;
}

.second {
    width: 330px;
}

.link-excerpt {
    opacity: 0;
    position: absolute;
    margin-top: 100px;
    width: 300px;
}

.link-image {
    opacity: 1;
    background-color: var(--accent);
    // width: 300px;
}

// @media only screen and (max-width: 888px) {
//     .first {
//         order: 1;
//         width: 400px;
//     }
//     .second {
//         order: 2;
//         width: 0px;
//         height: 0px;
//     }
// }

.link-title {
    font-weight: 500;
    margin-top: 0px;
    font-size: 2.4rem;
    margin-bottom: 30px;
    max-width: 900px;
    width: 100%;
    // font-family: $serif-font !important;
    //font-size: 3rem;
}

.link-subtitle {
    color: var(--content);
    //font-family: $serif-font;
    text-align: justify;
    //  color: $sec-type;
    font-style: italic;
    padding-top: 20px;
    margin: 0;
}

.separator {
    font-size: 3rem;
    color: var(--ter-type);
}
