.project-link-container {
    max-width: 900px;
    width: 100vw;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    transition: all $duration ease;
    border-radius: $radius;
}

.project-image-link-container {
    // max-width: 600px;
    height: 200px;
    border-radius: $radius;
    box-shadow: $shadow;
    object-fit: cover;
    margin: 0 auto;
    transition: all $duration ease;
}

// .project-link-container:hover {
//     background-color: $content;
//     box-shadow: $shadow;

//     .project-image-link-container {
//         box-shadow: none;
//     }
// }

.project-link-flex {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

@media only screen and (max-width: 888px) {
    .first {
        order: 1;
    }
    .second {
        order: 2;
    }
}

.link-title {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
    max-width: 900px;
    width: 100%;
    //font-size: 3rem;
}

.link-subtitle {
    //font-family: $serif-font;
    text-align: justify;
    color: $ter-type;
    font-style: italic;
    padding-top: 20px;
    margin: 0;
}

.separator {
    font-size: 3rem;
    color: $ter-type;
}
