.project-container {
    // width: 100vw;
    //  background-color: $body;
    margin: $nav-height + 20px auto;
    margin-bottom: 0;
    text-align: center;
}

.project-post-content {
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: left;
    max-width: 1000px;
}

.project-post-section {
    font-family: $serif-font;
    font-size: 130%;
    font-weight: 500;
    color: var(--main-type);
    padding: 20px;
    background-color: var(--content);
    border-radius: $radius;
    margin: 0 auto;
    width: 82%;
    min-width: 335px;
    margin-bottom: 80px;

    ::selection {
        color: var(--content);
    }

    p, ul, ol {
        color: var(--sec-type);
    }

    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6 {
    //     background: linear-gradient(
    //         to bottom,
    //         $accent-light 0%,
    //         $accent-light 100%
    //     );
    //     background-size: 1px 18px;
    //     background-position: 0 100%;
    //     background-repeat: repeat-x;
    // }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: 650px;
    margin: 20px auto;
    margin-top: 60px;
}

p {
    max-width: 650px;
    margin: 20px auto;
}

ul {
    max-width: 600px;
    margin: 20px auto;
}

blockquote {
    padding-left: 40px;
    font-style: italic;
}

.post-head-wrapper {
    width: 100vw;
}

.post-content-wrapper {
    width: 100vw;
    //  background-color: $content;
}

.project-head {
    min-height: 100px;
}

.page-head {
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

h1.page-head {
    font-size: 3rem;
    font-weight: 600;
}

p.page-head {
    color: var(--sec-type);
    font-size: 1.4rem;
    font-style: italic;
}

.project-image-container {
    max-width: 1000px;
    width: 85%;
    //padding: 20px;
    border-radius: $radius;
    //   box-shadow: $shadow;
    object-fit: cover;
    margin: 30px auto;
}

.project-link {
    display: inline-block;
    margin: 0 15px 0 0;
    width: 100px;
}

.project-details-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
}

.project-details-content {
    max-width: 170px;
    margin: 10px 0;
    display: inline-block;
    margin-bottom: 20px;
}

.posts-outer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    max-width: 900px; // change to 1400px to get columns (limited by fade container not shrinking in width, just height)
    margin: 0 auto;
}

.details-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 80%;
    float: left;
    color: var(--ter-type);
}

.details-text {
    text-align: left;
    display: inline-block;
    float: left;
}

//$head-width: 94%;

.project-list-head {
    width: 100%;
    background-color: var(--content);
    margin: 30px auto;
    margin-top: $nav-height + 50px;
    text-align: center;
    max-width: 900px;
}

.project-head-tags {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}

.project-list-head.outer {
    margin-bottom: 30px;
}

.project-list {
    text-align: center;
    margin-bottom: 80px;
}

h1.project-list-head {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
}

.gatsby-resp-image-figcaption {
    font-style: italic;
    font-family: $font;
    font-size: 90%;
    color: var(--ter-type);
    padding: 10px 0;
    margin: 0 auto;
    max-width: 650px;
}

.gatsby-resp-image-background-image {
    border-radius: $radius;
}

.gatsby-resp-image-link {
    background: none;
}

.gatsby-resp-image-figure {
    margin: 0;
}

.index-wrapper {
    // @include scrimGradient($content, "to top", "ease-in-out-sine", 10, 100);
    min-height: 100vh;
    padding-bottom: 60px;
}
