.tags {
    text-transform: uppercase;
    font-size: 100%;
    margin: 5px 20px 5px 0;
    // padding: 6px;
    color: $ter-type;
    // border: 1px solid $accent-light;
    border-radius: $radius;
    display: inline-block;
}

.tag-button {
    transition: all $duration ease;
    text-transform: uppercase;
    margin: 5px 10px;
    padding: 8px;
    font-size: 100%;
    border-radius: $radius;
    font-style: italic;
    // background-color: $accent;
    // box-shadow: $shadow-dark;
    display: inline-block;
    cursor: pointer;
    color: $body-light;
}
.tag-button:hover,
.tag-button.enabled {
    background-color: $body-med;
    box-shadow: $shadow-dark;
    color: $content;
}

.tag-text {
    display: inline-block;
}

.dark {
    color: $body !important;
    // font-weight: bold;
    font-size: 110%;
}
