@import url("https://use.typekit.net/mif1yzf.css");
$font: "neue-haas-grotesk-display";
$serif-font: "ff-meta-serif-web-pro";

$content: hsl(0, 1%, 92%);
$main-type: hsl(0, 0%, 2%);
$sec-type: hsl(0, 0%, 20%);
$ter-type: hsl(0, 0%, 40%);

//$accent: hsl(1, 91%, 34%);
$accent: hsl(0, 83%, 28%);
$accent-light: hsl(10, 80%, 70%);
//hsl(5, 65%, 55%);

$duration: 0.6s;

$radius: 0px;
$shadow: 0 10px 36px hsl(0, 0%, 40%);
$shadow-light: 0 10px 36px hsl(0, 0%, 70%);
$shadow-dark: 0 10px 36px hsl(0, 0%, 0%);
$nav-height: 100px;

$break-small: 380px;
